<form class="" onsubmit={{action "save"}}>
  {{textarea placeholder="Long Description" class="form-control textarea" value=description autofocus=true}}
  <button type="submit" class="btn btn-success">Save</button>
</form>
