  <header>New List</header>
  <form class="" onsubmit={{action "save"}}>
    {{input class="form-control" placeholder="New Card Title" value=title autofocus=true}}
    <br>
    {{input class="form-control" placeholder="New List Name" value=list autofocus=true}}
    <br>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>

  <!-- Add if else

  <button class="add-list-button list-dimension">Add a list...</button>

-->
