@import "ember-cli-bootstrap-4/bootstrap";

#board {
  color: white;
}
.board {
  margin:0 auto;
  font-size: 1.5;
}
/* Some Sass variables */
// Layout
$appbar-height: 40px;
$navbar-height: 50px;
$list-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;
// Misc
$list-border-radius: 5px;
$card-border-radius: 3px;
// Colors
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #e2e4e6;

body {
  margin: 0;

  font-size: 14px;
  line-height: 1.3em;
}

.ui {
  height: 100vh;

  grid-template-rows: $appbar-height $navbar-height 1fr;
  //grid-template-columns: 100%;

  background-color: #4995ec;
  color: #eee;
}
.lists {
  display: flex;
  overflow-x: auto;
  //width: 100%; // This is needed for FF < 54
  > * {
    flex: 0 0 auto; // 'rigid' lists
    margin-left: $gap;
  }
  &::after {
    content: '';
    flex: 0 0 $gap;
  }
}

.list {
  margin-top: 30px;
  width: $list-width;
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }

  header {
    line-height: $list-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
  }

  footer {
    line-height: $list-footer-height;
    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
    color: #888;
  }

  ul {
    list-style: none;
    margin: 0;

    max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
    overflow-y: auto;

    li {
      background-color: #fff;
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    }
  }
}
.add-list-button {
  padding: 10px;
  background-color: #e2e4e6;
  /* height: 19px; */
  text-align: left;
  font-size: 0.9em;
  color: black;
  border: none;
  transition: background-color 0.3s;
  &:hover {
    background-color: #8fb1e0;
    color: white;
    cursor: pointer;
  }
}
.list-dimension {
  border-radius: 3px;
  margin: 10px;
  width: 300px;
  margin-top: 30px;
  width: $list-width;
}

.form-control {
  font: inherit;
  display: block;
  border-radius: 0.2rem;
  width: 100%;
  border: #e8e8e8 solid 1px;
  background: #f8f8f8;
  padding: 0.5rem;
  color: #4a6064;
}

.new-list {
  background-color: #E3E4E6;
  padding: 10px;
}
