<div class="ui">
	<div class="lists">
		{{#each-in (group-by "list" model) as |list items|}}
		<div class="list">
			<header>{{list}}</header>
			<ul>
				{{#each items as |item|}}
          <li>{{item.title}}</li>
        {{/each}}
			</ul>
				<footer>Add an item...</footer>
		</div>
		{{/each-in}}

		<div class="">
			{{new-list-form}}
		</div>

	</div>
</div>
