<div class="ui">
	<div class="lists">
		<div class="list">
			<header>List header</header>
			<ul>
				{{#each model as |item|}}
          <li>{{item.title}}</li>
        {{/each}}
			</ul>
			<footer>Add a card...</footer>
		</div>
	</div>
</div>
