<div class="ui">
	<div class="lists">
		{{#each-in (group-by "list" model) as |list items|}}
		{{#draggable-object-target class="list" action=(action "updateItem" list)}}
			<header>{{list}}</header>
			<ul>
				{{#each items as |item|}}
          {{#draggable-object tagName="li" content=item}}
						{{item.title}}
					{{/draggable-object}}
        {{/each}}
			</ul>
				<footer>Add an item...</footer>
		{{/draggable-object-target}}
		{{/each-in}}

		<div class="">
			{{new-list-form onsubmit=(action "saveItem")}}
		</div>

	</div>
</div>
